/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h1, h2, p {
    font-family: "Open Sans", serif    
}

body {
    background-color: #333;
    font-family: "Open Sans", serif
    color: #fff; /* Cambiado a blanco para mejor contraste */
    line-height: 1.6;
}

.presentation {
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px 20px; 
    background-color: rgba(156, 156, 156, 0.9); /* Usar rgba para transparencia */
    margin: 0; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.presentation img {
    max-width: 150px;
    border-radius: 50%;
}

.presentation h1 {
    font-size: 2.5em; 
    margin: 20px 0;
    color: #00fff2;
}

.presentation p {
    color: #fff;
    font-size: 1.2em; 
}

.aboutme, .proyect, .tech {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(156, 156, 156, 0.8); /* Usar rgba para transparencia */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.aboutme h1, .proyect h1, .tech h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #00fff2;
}

.aboutme p {
    margin-bottom: 15px;
}

button {
    background-color: #4ca3af;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5ab7c2; /* Cambiado a un color más claro al pasar el ratón */
}

button a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #9c9c9c;
    padding: 20px 0; 
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
}

.tech img, .proyect img {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho de su contenedor */
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.proyect img:hover, .tech img:hover {
    transform: scale(1.1);
}

/* Lightbox Styles */
.lightbox {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 90%; 
    max-height: 90%; 
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Responsive design */
@media (max-width: 600px) {
    .presentation img {
        max-width: 100px;
    }

    .proyect img, .tech img {
        max-width: 80px;
    }

    .presentation h1 {
        font-size: 1.8em; /* Ajustar tamaño de texto en pantallas pequeñas */
    }

    .presentation p {
        font-size: 1em; /* Ajustar tamaño de texto en pantallas pequeñas */
    }
}
