.tarjeta li{
    vertical-align: top;
    display: inline;
    font-size: 1.2em;
    padding: 0.5em;
}

.navbar {
    overflow: hidden;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li a {
    display: block;
    color: black;
    font-family: 'arial';
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #BcBcBc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    padding: 20px;
    width: 300px;
    margin: 10px;
}

.trabajos{
    justify-content: space-around;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.trabajos p{
    text-align: center;
}

.trabajos h2, h3{
    text-align: center;
}

.card-trabajos{
    background-color: #BcBcBc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    padding: 20px;
    width: 300px;
    margin: auto;
}

.identificador h2 {
    margin-bottom: 10px;
    text-align: center;
}

.card-container {
    display: flex;
    margin-left: 70px;
    width: 80%;
}

.navbar li a:hover {
    background-color: #BcBcBc;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;  
    height: auto;  
    border-radius: 50%;
}

.image{
    height: 200px;
    width: 300px;
}

.sobremi h2{
    text-align: center;
}

.habilidades {
    align-items: center;
    width: 700px;
    margin: auto;  
    margin-bottom: 50px; 
}

.habilidades h2{
    text-align: center;
}

.habilidades ul{
    font-family: arial;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #45a049;
}

.sobremi{
    margin-bottom: 50px;
}

.texto {
    align-items: center;
    width: 650px;
    margin: auto;
}

.tecnologias h2{
    text-align: center;
}

.tecnologias{
    margin-bottom: 50px;
    align-items: center;
    width: 700px;
    margin: auto;
}

.tarjeta{
    text-align: center;
    margin-bottom: 100px;
}

h2,p,ul,h3{
    font-family: 'arial';
}


.descrpcion {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

.descrpcion h2 {
    margin-top: 0;
}

.descrpcion p {
    margin: 10px 0;
}

.descrpcion ul {
    list-style-type: none;
    padding: 0;
}

.descrpcion ul li {
    margin: 5px 0;
}

.descrpcion a {
    text-decoration: none;
}

.descrpcion a:hover {
    text-decoration: underline;
}

body{
    background-color: #808080;
}

.tarjeta img{ 
    height: 64px;
    width: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}