{% extends 'base.html' %}

{% block title %} Protafolio {%endblock%}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='stile/base.css')}}">
{% endblock %}


{% block content %}
<div class="navbar">
    <ul>
        <li><a href=" {{url_for('trabajos')}} ">Trabajos</a></li>
        <li><a href="{{url_for('contactos')}}">Contactos</a></li>
    </ul>
</div>

<div class="sobremi">
    <div class="contenedor-centrado">
        <div class="yo">
            <img src="{{ url_for('static', filename='image/yo.jpeg') }}" class="imagen">
        </div>
        <div class="texto">
            <h2>Soy Luis Mondragón</h2>
            <hr size="2px" color="black" />
            <p>Me apasiona la tecnología en general y especialmente la programación. 
                Todos los días me esfuerzo por mejorar y aprender más sobre todas las ramas de la tecnología. 
                Soy una persona responsable y disfruto ayudando siempre que puedo.
            </p>
            <button><a href="{{ url_for('static', filename='image/curriculum.pdf') }}"  download="{{ url_for('static', filename='image/curriculum.pdf') }}" >Descargar mi CV</a></button>
        </div>
    </div>
</div>


<div class="tecnologias">
    <h2>Tecnologias</h2>
    <hr size="2px" color="black"/>
    <ul class="tarjeta">
        <li><a href="https://flask.palletsprojects.com/en/3.0.x/"><img src="{{ url_for('static', filename='image/flask.png')}}"></a></li>
        <li><a href="https://nodejs.org/en"><img src="{{ url_for('static', filename='image/node.png')}}"></a></li>
        <li><a href="https://www.mysql.com/"><img src="{{ url_for('static', filename='image/mysql.png')}}"></a></li>
        <li><a href="https://www.sqlite.org/"><img src="{{ url_for('static', filename='image/sqlite.jpeg')}}"></a></li>
        <li><a href="https://www.python.org/downloads/"><img src="{{ url_for('static', filename='image/python.png')}}"></a></li>
        <li><a href="https://nodejs.org/en"><img src="{{ url_for('static', filename='image/javascript.png')}}"></a></li>
        <li><a href="https://git-scm.com/"><img src="{{ url_for('static', filename='image/git.png')}}"></a></li>
    </ul>
</div>

<div class="habilidades">
    <h2>Habilidades</h2>
    <hr size="2px" color="black"/>
    <p>
        <ul>
            <li>Me relaciono con facilidad</li>
            <li>facilidad de adaptación</li>
            <li>Facil comunicación</li>
            <li>Manejo de Linux</li>
        </ul>
    </p>
</div>

    <div class="container">
        <div class="card">
            <h2>Escuela</h2>
            <p><strong>ING. Desarrollo y gestión de software</strong><br>
            Universidad Tecnológica de Tabasco<br>
            2019-2022</p>

            <p><strong>TSU en Tecnologías de la Información y Comunicación</strong><br>
            Área Desarrollo de Software Multiplataforma<br>
            Universidad Tecnológica de Tabasco<br>
            2022-2024</p>
        </div>

        <div class="card">
            <h2>Cursos</h2>
            <p><strong>Curso de SQLite</strong><br>
            Víctor Ramos - Udemy</p>

            <p><strong>Python sin Límites</strong><br>
            Global Mentoring Ing. Ubaldo Acosta - Udemy</p>
        </div>
    </div>


{% endblock %}